$text-color: #fff;
$primary-color: #2c3e50;
$card-bg: #f7f7f7;
$hover-color: #2980b9;
$text-color: #131212;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #eaeaea;
}